#content
  %div.about-me
    %h1
      %h2.outside-links
        = render 'outside_links'
        %hr
      -#%h2.influences
        = render 'influences'
        = # render discriptive paragraph here
        %hr
      -#%h2.purpose
        = render 'purpose'
        = # render discriptive paragraph here
