#content
  %inner
    - posts.each do |post|
      %article.box.post.post-excerpt
        %header
          %h2= link_to post.title, blog_path(post.slug)
          %p Catchy sub-title
        .info
          %span.date
            %span.month
              = post.created_at.strftime('%b')
            %span.day
              = post.created_at.strftime('%d')
            %span.year
              = post.created_at.strftime('%Y')
          %ul.stats
            %li
              %a.icon.fa-comment{:href => blog_path(post.slug) + "#comments"} 16
        %a.image.featured{:href => "#"}
        %p
          = markdown(post.body[0..195])
  = render 'layouts/pagination'
