#sidebar
  %h1#logo
    %a{:href => "#"} 2toneDL
  = render 'layouts/navigation'
  = render 'layouts/recent_posts'
  = render 'layouts/copyright'
  - if admin_signed_in?
    .admin_actions
      = link_to 'sign out', :sign_out
      = link_to '+ add post', :new_blog
