#sidebar
  %h1#logo
    = link_to '2toneDL', root_path
  = render 'layouts/navigation'
  = render 'layouts/recent_posts'
  = render 'layouts/copyright'
  - if admin_signed_in?
    .admin_actions
      %p
        Admin Functions
      = link_to 'sign out', :sign_out
      = link_to '+ add post', :new_blog
