!!!
%html
  %head
    %title 2toneDL
    = stylesheet_link_tag 'application'
    = stylesheet_link_tag 'http://fonts.googleapis.com/css?family=Karla:400,700|Duru+Sans'
    = javascript_include_tag 'application'
    = yield :stylesheet
    = csrf_meta_tag
  %body
    %header
      - if signed_in?
        .admin_actions
          = link_to 'sign out', :sign_out
          = link_to '+ add post', :new_post
      #main
        %a{ href: root_path }
          %h1<>
            2 
            %span<> tone
            DL
        %nav.social_links
          = link_to "Twitter", "http://twitter.com/2toneDL", class: "twitter"
          = link_to "Github", "http://github.com/444c43", class: "github"
        %nav
          = link_to "Blog", :blog
    %section
      = yield
